<div class="footer-container">
    <div class="footer--product">
        <div class="footer--product__content">
            <div class="footer--product__col footer--product__col--brand">
                <a class="footer__site-title" href="#">Open Access Pricing Optimization Study</a>
            </div>
            <div class="footer--product__col footer--product__col--links">
            </div>
            <div class="footer--product__col footer--product__col--links">
            </div>
            <div class="footer--product__col footer--product__col--links">
                <ul>
                    <li><span class="footer__link-heading">Resources</span></li>
                    <li><a href="http://www.wileypeerreview.com/" class="footer__link">Reviews</a></li>
                    <li><a href="http://exchanges.wiley.com/authors/authors_268.html" class="footer__link">Authors</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-base">
        <div class="footer-base__content">
            <div class="copyright"><a href="http://www.wiley.com/go/copyright">Copyright © 2000-2016</a> by <a href="http://www.wiley.com">John Wiley & Sons, Inc.</a>, or related companies. All rights reserved.
                <br>Review our <a href="http://www.wiley.com/go/privacy">privacy policy</a>.</div> <img class="logo" alt="Black Wiley wordmark" src="/images/wiley-wordmark-black.svg">
        </div>
    </div>
</div>