<div class="header-container">
    <div class="header">
        <nav class="navbar navbar-inverse navbar-dataviz">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">Open Access Pricing Optimization Study</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/index.html">Overview</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Questions <span class="caret"></span></a>
                            <ul class="dropdown-menu pr__dropdown-menu">
                                <li><a href="/q1-discipline.html">Acceptable APCs: Discipline</a></li>
                                <li><a href="/q1-region.html">Acceptable APCs: Region</a></li>
                                <li><a href="/q1-impact-factor.html">Acceptable APCs: Impact Factor</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/q2-discipline.html">Price Memory: Discipline</a></li>
                                <li><a href="/q2-region.html">Price Memory: Region</a></li>
                                <li><a href="/q2-impact-factor.html">Price Memory: Impact Factor</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/q3-discipline.html">Open Access Mandates: Discipline</a></li>
                                <li><a href="/q3-region.html">Open Access Mandates: Region</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/q4-discipline.html">Publishing Frequency: Discipline</a></li>
                                <li><a href="/q4-region.html">Publishing Frequency: Region</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/q5-discipline.html">Open Access Only Journal Consideration: Discipline</a></li>
                                <li><a href="/q5-region.html">Open Access Only Journal Consideration: Region</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/q6-discipline.html">Open Access Uptake: Discipline</a></li>
                                <li><a href="/q6-region.html">Open Access Uptake: Region</a></li>
                                <li><a href="/q6-impact-factor.html">Open Access Uptake: Impact Factor</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>