<!--question header-->
<blockquote>
    <h5><i>What level of Article Publication Charge would be too cheap, such that you would doubt quality?</i></h5>
    <h5><i>What level of Article Publication Charge would be acceptable, such that you would confidently be able to find the funds?</i></h5>
    <h5><i>What level of Article Publication Charge would be so expensive, such that you would find it difficult to pay, but could probably find the funds?</i></h5>
</blockquote>
<p>Authors were asked to imagine they were accepted again into the last journal they published with and that they wanted to publish open access. They were then asked three questions regarding APC levels.</p>
<!--chart tabs-->
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation"><a href="/q1-discipline.html">Discipline</a></li>
    <li role="presentation"><a href="/q1-region.html">Region</a></li>
    <li role="presentation" class="active"><a href="/q1-impact-factor.html">Impact Factor</a></li>
</ul>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q1-impactfactor.js"></script>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:right" href="/q2-discipline.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>