<!--question header-->
<blockquote><h5><i>Approximately how much was the Article Publication Charge for Open Access for the journal you published in?</i></h5></blockquote>
<p>or</p>
<blockquote><h5><i>How much would the Article Publication Charge have been for Open Access for the journal you published in?</i></h5></blockquote>
<p>Authors who had previously published or were offered OnlineOpen or Open Access were asked to recall the amount of the article publication charge they paid or would have paid.</p>
<!--chart tabs-->
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation"><a href="/q2-discipline.html">Discipline</a></li>
    <li role="presentation" class="active"><a href="/q2-region.html">Region</a></li>
    <li role="presentation"><a href="/q2-impact-factor.html">Impact Factor</a></li>
</ul>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q2-region.js"></script>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q1-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>

<a class="btn btn-default" style="float:right" href="/q3-discipline.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>