<!--question header-->
<blockquote><h5><i>Are you required by an institution or agency to publish Open Access?</i></h5></blockquote>
<p>Authors were given varying levels of mandates to select from:</p>
<ul>
    <li>Yes-Gold Open Access (Immediately freely available online)</li>
    <li>Yes-Green Open Access (Freely available to read after a set time period)</li>
    <li>Yes-Gold or Green Open Access</li>
    <li>No</li>
</ul>
<!--chart tabs-->
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation"><a href="/q3-discipline.html">Discipline</a></li>
    <li role="presentation" class="active"><a href="/q3-region.html">Region</a></li>
</ul>
<!--filter buttons-->
<div class="filter-buttons">
    <span>Region:</span>
    <span class="update radio filter-button active button button--purple" value="dataAll">
        All Regions
    </span>
    <span class="update radio filter-button button button--purple" value="dataAME">
        Africa & Middle East
    </span>
    <span class="update radio filter-button button button--purple" value="dataAS">
        Asia
    </span>
    <span class="update radio filter-button button button--purple" value="dataAU">
        Australasia
    </span>
    <span class="update radio filter-button button button--purple" value="dataCSA">
        Central & South America
    </span>
    <span class="update radio filter-button button button--purple" value="dataEU">
        Europe
    </span>
    <span class="update radio filter-button button button--purple" value="dataNA">
        North America
    </span>
</div>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q3-region.js"></script>

<!--conclusion-->
<h4>Conclusion</h4>
<p>Open access mandates are more prevalent in Europe and Asia than in other regions, but they remain fairly consistent across discipline. Now is an opportune time to take advantage of natural market growth and acceptance of open access.</p>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q2-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>

<a class="btn btn-default" style="float:right" href="/q4-discipline.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>