<!--question header-->
<blockquote><h5><i>How many journal articles did you publish in the past 3 years? How many articles do you expect to publish in 2016? Please exclude book chapters and blog posts.</i></h5></blockquote>
<p>Authors were asked to fill in a table identifying the:</p>
<ul>
    <li>Total articles (including open access) for each year</li>
    <li>Open access articles for each year</li>
</ul>
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation" class="active"><a href="/q4-discipline.html">Discipline</a></li>
    <li role="presentation"><a href="/q4-region.html">Region</a></li>
</ul>
<!--filter buttons-->
<div class="filter-buttons">
    <span>Stacking:</span>
    <span id="normal" class="update radio filter-button active button button--purple optionbutton" value="normal">
        Normal
    </span>
    <span id="percent" class="update radio filter-button button button--purple optionbutton" value="percent">
        Percentage
    </span>
</div>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q4-discipline.js"></script>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q3-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>

<a class="btn btn-default" style="float:right" href="/q5-discipline.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>