<!--question header-->
<blockquote><h5><i>How many journal articles did you publish in the past 3 years? How many articles do you expect to publish in 2016? Please exclude book chapters and blog posts.</i></h5></blockquote>
<p>Authors were asked to fill in a table identifying the:</p>
<ul>
    <li>Total articles (including open access) for each year</li>
    <li>Open access articles for each year</li>
</ul>
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation"><a href="/q4-discipline.html">Discipline</a></li>
    <li role="presentation" class="active"><a href="/q4-region.html">Region</a></li>
</ul>
<h6>In all columns, the bottom, darker bar is <b>Open Access</b> and the upper, lighter bar is <b>other articles</b>.</h6>
<!--filter buttons-->
<div class="filter-buttons">
    <span>Stacking:</span>
    <span id="normal" class="update radio filter-button active button button--purple optionbutton" value="normal">
        Normal
    </span>
    <span id="percent" class="update radio filter-button button button--purple optionbutton" value="percent">
        Percentage
    </span>
</div>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q4-region.js"></script>

<!--conclusion-->
<h4>Conclusion</h4>
<p>Open access only journals are gaining more credibility and a great majority of authors would consider one when choosing where to publish. This is most evident for authors publishing in health and life sciences and those from Europe.</p>

<hr>

<h3>Relative Importance of Attributes in the Purchasing Decision</h3>

<div id="relative-importance" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<script src="/scripts/questions/q5-relative-importance.js"></script>

<h4>Conclusion</h4>
<p>Impact factor is almost <b>50%</b> more important than price.</p>
<p><b>Submission to publication speed</b> and <b>peer review quality</b> are much less important.</p>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q3-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>

<a class="btn btn-default" style="float:right" href="/q5-discipline.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>