<!--question header-->
<blockquote><h5><i>Would you ever consider publishing in an Open Access only journal?</i></h5></blockquote>
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation"><a href="/q5-discipline.html">Discipline</a></li>
    <li role="presentation" class="active"><a href="/q5-region.html">Region</a></li>
</ul>
<div class="filter-buttons">
    <span>Region:</span>
    <span class="update radio filter-button active button" value="dataAll">
        All Regions
    </span>
    <span class="update radio filter-button button" value="dataAME">
        Africa & Middle East
    </span>
    <span class="update radio filter-button button" value="dataAS">
        Asia
    </span>
    <span class="update radio filter-button button" value="dataAU">
        Australasia
    </span>
    <span class="update radio filter-button button" value="dataCSA">
        Central & South America
    </span>
    <span class="update radio filter-button button" value="dataEU">
        Europe
    </span>
    <span class="update radio filter-button button" value="dataNA">
        North America
    </span>
</div>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q5-region.js"></script>

<!--conclusion-->
<h4>Conclusion</h4>
<p>Open access only journals are gaining more credibility and a great majority of authors would consider one when choosing where to publish. This is most evident for authors publishing in health and life sciences and those from Europe.</p>

<hr>

<h3>Relative Importance of Attributes in the Purchasing Decision</h3>

<div id="relative-importance" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<script src="/scripts/questions/q5-relative-importance.js"></script>

<h4>Conclusion</h4>
<p>Impact factor is almost <b>50%</b> more important than price.</p>
<p><b>Submission to publication speed</b> and <b>peer review quality</b> are much less important.</p>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q4-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>

<a class="btn btn-default" style="float:right" href="/q6-discipline.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>