<!--question header-->
<blockquote>
    <h5><i>Did the subscription journal you last published in offer an Open Access option?</i></h5>
    <h5><i>For your last article, did you use this option and publish Open Access?</i></h5>
</blockquote>
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation" class="active"><a href="/q6-discipline.html">Discipline</a></li>
    <li role="presentation"><a href="/q6-region.html">Region</a></li>
    <li role="presentation"><a href="/q6-impact-factor.html">Impact Factor</a></li>
</ul>
<div class="filter-buttons">
    <span>Discipline:</span>
    <span class="update radio filter-button active button" value="dataAll">
        All Disciplines
    </span>
    <span class="update radio filter-button button" value="dataHS">
        Health Sciences
    </span>
    <span class="update radio filter-button button" value="dataLS">
        Life Sciences
    </span>
    <span class="update radio filter-button button" value="dataPS">
        Physical Sciences
    </span>
    <span class="update radio filter-button button" value="dataSSH">
        Social Sciences & Humanities
    </span>
</div>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q6-discipline.js"></script>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q5-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>