<blockquote>
    <h5><i>Did the subscription journal you last published in offer an Open Access option?</i></h5>
    <h5><i>For your last article, did you use this option and publish Open Access?</i></h5>
</blockquote>
<ul class="nav nav-tabs chart-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation"><a href="/q6-discipline.html">Discipline</a></li>
    <li role="presentation"><a href="/q6-region.html">Region</a></li>
    <li role="presentation" class="active"><a href="/q6-impact-factor.html">Impact Factor</a></li>
</ul>
<div class="filter-buttons">
    <span>Impact Factor:</span>
    <span class="update radio filter-button active button" value="dataAll">
        All Factors
    </span>
    <span class="update radio filter-button button" value="dataHI">
        High Impact
    </span>
    <span class="update radio filter-button button" value="dataMI">
        Medium Impact
    </span>
    <span class="update radio filter-button button" value="dataLI">
        Low Impact
    </span>
    <span class="update radio filter-button button" value="dataNI">
        No Impact
    </span>
    <span class="update radio filter-button button" value="dataNJ">
        New Journal
    </span>
</div>
<!--chart div-->
<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<!--scripts-->
<script src="/scripts/questions/q6-impactfactor.js"></script>

<!--conclusion-->
<h4>Conclusion</h4>
<p>Authors publishing in no and low impact factor journals are more likely to accept the open access option, indicating a desire to increase the reach of their article.</p>

<!--question footer info and controls-->
<br>

<a class="btn btn-default" style="float:left" href="/q5-discipline.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>