<h4>Select the offers that would make you more likely to accept an invitation to review</h4>
<p>Respondents were asked to select as many as applied</p>
<ul class="nav nav-tabs">
    <li role="presentation"><span>View according to: </span></li>
  <li role="presentation"><a href="/q14-place-of-work.html">Place of work</a></li>
  <li role="presentation"><a href="/q14-experience.html">Years of experience</a></li>
  <li role="presentation" class="active"><a href="/q14-discipline.html">Discipline</a></li>
  <li role="presentation"><a href="/q14-region.html">Region</a></li>
</ul>
<br>
<!--chart div-->
<div id="chart1">
    <svg style="height: 950px"></svg>
</div>
<!--scripts-->
<script src="/scripts/nvd3/nv.d3.js"></script>
<script src="/scripts/q14/q14-discipline.js"></script>

<h6 class="text-right">total respondents: <strong>2976</strong></h6>
<br>

<a class="btn btn-default" style="float:left" href="/q14-experience.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>
<a class="btn btn-default" style="float:right" href="/q14-region.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>