<h4>Would you participate in peer review training sessions in the future?</h4>
<p>According to years of experience</p>
<hr>
<div class="q27">
    <div class="q5-radio-group">
        <span>Years of experience:</span>
        <span class="radio q5-radio is-active button" value="datasetTotal">
        All
    </span>
        <span class="radio q5-radio button" value="datasetLessThan1">
        Less than 1
    </span>
        <span class="radio q5-radio button" value="dataset1To2">
        1 to 2
    </span>
        <span class="radio q5-radio button" value="dataset3To5">
        3 to 5
    </span>
        <span class="radio q5-radio button" value="dataset6To10">
        6 to 10
    </span>
        <span class="radio q5-radio button" value="dataset11To15">
        11 to 15
    </span>
        <span class="radio q5-radio button" value="datasetMoreThan15">
        More than 15
    </span>
    </div>

    <div id="q27__chart"></div>
    <div id="q27__legend"></div>

</div>
<script src="/scripts/q27/q27.js"></script>

<h6 class="text-right">total respondents: <strong>2424</strong></h6>
<br>

<a class="btn btn-default" style="float:left" href="/q14-region.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>
<a class="btn btn-default" style="float:right" href="/q28-place-of-work.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>