<h4>Please indicate which training sessions you would find beneficial</h4>
<p>Respondents were asked to select as many as applied</p>
<ul class="nav nav-tabs">
    <li role="presentation"><span>View according to: </span></li>
    <li role="presentation" class="active"><a href="/q28-place-of-work.html">Place of work</a></li>
    <li role="presentation"><a href="/q28-experience.html">Years of experience</a></li>
    <li role="presentation"><a href="/q28-discipline.html">Discipline</a></li>
    <li role="presentation"><a href="/q28-region.html">Region</a></li>
</ul>
<br>

<!--chart div-->
<div id="chart1">
    <svg style="height: 950px"></svg>
</div>
<!--scripts-->
<script src="/scripts/nvd3/nv.d3.js"></script>
<script src="/scripts/q28/q28-place.js"></script>

<h6 class="text-right">total respondents: <strong>1827</strong></h6>
<br>

<a class="btn btn-default" style="float:left" href="/q27.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>
<a class="btn btn-default" style="float:right" href="/q28-experience.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>