
<!--question header-->
<h4>How much influence did each of the following considerations have in your decision to become a peer reviewer?</h4>
<p>On a scale of 1-5 (5 being very strong)</p>
<hr>
<h6 class="text-right">According to years of experience</h6>

<!--chart div-->
<div id="chart1">
    <svg style="height:700px"></svg>
</div>

<!--scripts-->
<script src="/scripts/nvd3/nv.d3.js"></script>
<script src="/scripts/q9/q9.js"></script>

<!--question footer and controls-->
<h6 class="text-right">total respondents: <strong>2541</strong></h6>
<br>

<a class="btn btn-default" style="float:left" href="/q5.html"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Question</a>
<a class="btn btn-default" style="float:right" href="/q13.html">Next Question <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>